html{
    font-size: 100px;
}
html,body{
    height: 100%;
    overflow: hidden;
}
.mainBox{
    position: relative;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
}
.mainBox .previousTip{
    position: absolute;
    width: .25rem;
    height: .2rem;
    bottom: .09rem;
    left: 50%;
    margin-left: -.125rem;
    background: url(http://pkpi86x2k.bkt.clouddn.com/image/arrow.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
    animation: previousTipMove .5s infinite both;
}
@keyframes previousTipMove{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-.15rem);
    }
}

.mainBox .musicBox{
    position: absolute;
    top: .15rem;
    right: .15rem;
    z-index: 9999;
    width: .3rem;
    height: .3rem;
    background: url('http://pkpi86x2k.bkt.clouddn.com/image/music_1.svg') no-repeat;
    background-size: 100% 100%;
}

@keyframes musicMove{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.mainBox .musicBox.move{
    animation: musicMove 1s linear infinite both;
}


.mainBox .musicBack{
    position: absolute;
    background: url("http://pkpi86x2k.bkt.clouddn.com/image/music_2.gif") no-repeat;
    background-size: 100% 100%;
    width: .5rem;
    height: .5rem;
    z-index: 9999;
   top: -.03rem;
   right: -.03rem;
}

.swiper-container,
.swiper-slide {
    height: 100%;
    overflow: hidden;
}
.swiper-slide{
    position: relative;
}
/* page 1 */
.page1{
    position: relative;
    background: url("http://pkpi86x2k.bkt.clouddn.com/image/background.jpg") no-repeat;
    background-size: cover;
}
.page1>img,
.page2>img,
.page3>img,
.page4>img,
.page5>img,
.page6>img,
.page7>img,
.page8>img,
.page9>img,
.page10>img{
    position: absolute;
}
.page1>img:nth-of-type(1){
    width: .86rem;
    height: .75rem;
    top: 0.45rem;
    right: 0.55rem;
}
.page1>img:nth-of-type(2){
    width: .45rem;
    height: .45rem;
    top: 1.3rem;
    right: 0.7rem;
}
.page1>img:nth-of-type(3){
    width: .40rem;
    height: .30rem;
    top: 1.88rem;
    right: .75rem;
}
.page1>img:nth-of-type(4){
    width: .66rem;
    height: .55rem;
    top: 2.25rem;
    right: 0.6rem;
}
.page1>img:nth-of-type(5){
    width: .81rem;
    height: .60rem;
    top: 2.88rem;
    right: 0.46rem;
}
.page1>img:nth-of-type(6){
    width: .81rem;
    height: .60rem;
    top: 3.58rem;
    right: 0.5rem;
}
.page1>img:nth-of-type(7){
    top: 2.1rem;
    left: 1.8rem;
}
.page1>img:nth-of-type(8){
    top: 1.6rem;
    right: 0.25rem;
}
.page1>img:nth-of-type(9){
    width: 1rem;
    height: 1rem;;
    left: 0rem;
    bottom: .35rem;
}
.page1>img:nth-of-type(10){
    bottom: 0.35rem;
    width: 1.3rem;
    right: -.2rem;
    height: 1.1rem;;
}
.page1>img:nth-of-type(11){
    width: 1.2rem;
    height: 1.2rem;;
    left: 1.2rem;
    bottom: 0.28rem;
}
.page1>img:nth-of-type(12){
    left: -0.1rem;
    width: 110%;
    height: 0.35rem;
}
.page1>img:nth-of-type(13){
    bottom: 0;
    width: 100%;
    height: 0.35rem;
}
.page1>img:nth-of-type(14){
    left: .1rem;
    top: 1.7rem;
    width: 2rem;
    height: 3rem;
}
.page1>img:nth-of-type(15){
    top: 0.83rem;
    left: 0.85rem;
}
.page1>img:nth-of-type(16){
    top: 0.8rem;
    left: 1rem;
}

.page2,
.page3,
.page4,
.page5,
.page6,
.page7,
.page8,
.page9{
    position: relative;
    background: url("http://pkpi86x2k.bkt.clouddn.com/image/background.jpg") no-repeat;
    background-size: cover;
}
.page2>img:nth-of-type(1),
.page3>img:nth-of-type(1),
.page4>img:nth-of-type(1),
.page5>img:nth-of-type(1),
.page6>img:nth-of-type(1),
.page7>img:nth-of-type(1),
.page8>img:nth-of-type(1),
.page9>img:nth-of-type(1),
.page10>img:nth-of-type(1){
    top: 3%;
    left: 4%;
    width: 92%;
    height: 94%;
}
.page2>img:nth-of-type(2),
.page3>img:nth-of-type(2),
.page4>img:nth-of-type(2),
.page5>img:nth-of-type(2),
.page6>img:nth-of-type(2),
.page7>img:nth-of-type(2),
.page8>img:nth-of-type(2),
.page9>img:nth-of-type(2),
.page10>img:nth-of-type(2){
    bottom: 0; 
    opacity: 0.4;   
}
.page2>img:nth-of-type(4),
.page3>img:nth-of-type(4),
.page4>img:nth-of-type(4),
.page5>img:nth-of-type(4),
.page6>img:nth-of-type(4),
.page7>img:nth-of-type(4),
.page8>img:nth-of-type(4),
.page9>img:nth-of-type(4){
    width: 1.1rem;
    top: .44rem;
    right: .26rem;
}
.page2>img:nth-of-type(5),
.page3>img:nth-of-type(5),
.page4>img:nth-of-type(5),
.page5>img:nth-of-type(5),
.page6>img:nth-of-type(5),
.page7>img:nth-of-type(5),
.page8>img:nth-of-type(5),
.page9>img:nth-of-type(5){
    width: 1.0rem;
    bottom: .34rem;
    left: .22rem;
}

.page2>img:nth-of-type(6),
.page3>img:nth-of-type(6),
.page4>img:nth-of-type(6),
.page5>img:nth-of-type(6),
.page6>img:nth-of-type(6),
.page7>img:nth-of-type(6),
.page8>img:nth-of-type(6),
.page9>img:nth-of-type(6){
    top: 1rem;
    left: 1.7rem;
}
.page2 .text_chuancai,
.page3 .text_huicai,
.page4 .text_xiangcai,
.page5 .text_lucai,
.page6 .text_zhecai,
.page7 .text_sucai,
.page8 .text_mincai,
.page9 .text_yuecai{
    line-height: .25rem;
    font-size: .18rem;
    font-weight: 550;
    /* font-family: cursive; */
    font-family: cursive;
    position: absolute;
    top: 1.4rem;
    left: 0.35rem;
    width: 40%;
}


.page2 .daibiaozuo_chuancai,
.page3 .daibiaozuo_huicai,
.page4 .daibiaozuo_xiangcai,
.page5 .daibiaozuo_lucai,
.page6 .daibiaozuo_zhecai,
.page7 .daibiaozuo_sucai,
.page8 .daibiaozuo_mincai,
.page9 .daibiaozuo_yuecai{
    width: 50%;
    position: absolute;
    right: 0;
}

.page2 .daibiaozuo_chuancai>p,
.page3 .daibiaozuo_huicai>p,
.page4 .daibiaozuo_xiangcai>p,
.page5 .daibiaozuo_lucai>p,
.page6 .daibiaozuo_zhecai>p,
.page7 .daibiaozuo_sucai>p,
.page8 .daibiaozuo_mincai>p,
.page9 .daibiaozuo_yuecai>p{
    position: absolute;
}
.page2 .daibiaozuo_chuancai>img,
.page3 .daibiaozuo_huicai>img,
.page4 .daibiaozuo_xiangcai>img,
.page5 .daibiaozuo_lucai>img,
.page6 .daibiaozuo_zhecai>img,
.page7 .daibiaozuo_sucai>img,
.page8 .daibiaozuo_mincai>img,
.page9 .daibiaozuo_yuecai>img{
    position: absolute;
}

/* page 2 */

.page2 .daibiaozuo_chuancai>p:nth-of-type(1){
    top: 2rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}

.page2 .daibiaozuo_chuancai>img:nth-of-type(1){
    width: 1rem;
    height: 0.7rem;
    top: 2.4rem;
    right: .5rem;
}
.page2 .daibiaozuo_chuancai>p:nth-of-type(2){
    top: 3.4rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page2 .daibiaozuo_chuancai>img:nth-of-type(2){
    width: 1.0rem;
    height: .7rem;
    top: 3.8rem;
    right: .5rem;
}
.page2 .daibiaozuo_chuancai>p:nth-of-type(3){
    top: 4.8rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page2 .daibiaozuo_chuancai>img:nth-of-type(3){
    width: 1.0rem;
    height: .7rem;
    top: 5.2rem;
    right: .5rem;
}




/* page 3 */
.page3 .daibiaozuo_huicai>img:nth-of-type(1){
    width: 1.0rem;
    top: 2.5rem;
    margin-right: -0.1rem;
    right: .7rem;
}
.page3 .daibiaozuo_huicai>img:nth-of-type(2){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 3.8rem;
    right: .7rem;
}
.page3 .daibiaozuo_huicai>img:nth-of-type(3){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 5.2rem;
    right: .7rem;
}
.page3 .daibiaozuo_huicai>p:nth-of-type(1){
    top: 2.2rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page3 .daibiaozuo_huicai>p:nth-of-type(2){
    top: 3.5rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page3 .daibiaozuo_huicai>p:nth-of-type(3){
    top: 4.9rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}

/* page 4 */
.page4 .daibiaozuo_xiangcai>img:nth-of-type(1){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 2.5rem;
    right: .7rem;
}
.page4 .daibiaozuo_xiangcai>img:nth-of-type(2){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 3.8rem;
    right: .7rem;
}
.page4 .daibiaozuo_xiangcai>img:nth-of-type(3){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 5.2rem;
    right: .7rem;
}
.page4 .daibiaozuo_xiangcai>p:nth-of-type(1){
    top: 2.2rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page4 .daibiaozuo_xiangcai>p:nth-of-type(2){
    top: 3.5rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page4 .daibiaozuo_xiangcai>p:nth-of-type(3){
    top: 4.9rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
/* page 5 */
.page5 .daibiaozuo_lucai>img:nth-of-type(1){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 2.5rem;
    right: .7rem;
}
.page5 .daibiaozuo_lucai>img:nth-of-type(2){
    width: 1.0rem;
    height: .91rem;
    margin-right: -0.1rem;
    top: 3.8rem;
    right: .7rem;
}
.page5 .daibiaozuo_lucai>img:nth-of-type(3){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 5.2rem;
    right: .7rem;
}
.page5 .daibiaozuo_lucai>p:nth-of-type(1){
    top: 2.2rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page5 .daibiaozuo_lucai>p:nth-of-type(2){
    top: 3.5rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page5 .daibiaozuo_lucai>p:nth-of-type(3){
    top: 4.9rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
/* page 6 */
.page6 .daibiaozuo_zhecai>img:nth-of-type(1){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 2.5rem;
    right: .7rem;
}
.page6 .daibiaozuo_zhecai>img:nth-of-type(2){
    width: 1.0rem;
    height: .91rem;
    margin-right: -0.1rem;
    top: 3.8rem;
    right: .7rem;
}
.page6 .daibiaozuo_zhecai>img:nth-of-type(3){
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 5.2rem;
    right: .7rem;
}
.page6 .daibiaozuo_zhecai>p:nth-of-type(1){
    top: 2.2rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page6 .daibiaozuo_zhecai>p:nth-of-type(2){
    top: 3.5rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page6 .daibiaozuo_zhecai>p:nth-of-type(3){
    top: 4.9rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
/* page 7 */
.page7 .daibiaozuo_sucai>img:nth-of-type(1){
    width: 1.0rem;
    height: .91rem;
    margin-right: -0.1rem;
    top: 2.5rem;
    right: .7rem;
}
.page7 .daibiaozuo_sucai>img:nth-of-type(2){
    width: 1.0rem;

    margin-right: -0.1rem;
    top: 3.8rem;
    right: .7rem;
}
.page7 .daibiaozuo_sucai>img:nth-of-type(3){
    width: 1.0rem;
    height: .9rem;
    margin-right: -0.1rem;
    top: 5.2rem;
    right: .7rem;
}
.page7 .daibiaozuo_sucai>p:nth-of-type(1){
    top: 2.2rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page7 .daibiaozuo_sucai>p:nth-of-type(2){
    top: 3.5rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page7 .daibiaozuo_sucai>p:nth-of-type(3){
    top: 4.9rem;
    right: .7rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}


/* page 8 */
.page8 .daibiaozuo_mincai>img:nth-of-type(1){
    height: .91rem;
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 2.5rem;
    right: .7rem;
}
.page8 .daibiaozuo_mincai>img:nth-of-type(2){
    width: 1.0rem;
    height: .91rem;
    margin-right: -0.1rem;
    top: 3.9rem;
    right: .7rem;
}
.page8 .daibiaozuo_mincai>img:nth-of-type(3){
    width: 1.0rem;
    height: .81rem;
    margin-right: -0.1rem;
    top: 5.3rem;
    right: .7rem;
}
.page8 .daibiaozuo_mincai>p:nth-of-type(1){
    top: 2.2rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page8 .daibiaozuo_mincai>p:nth-of-type(2){
    top: 3.6rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page8 .daibiaozuo_mincai>p:nth-of-type(3){
    top: 5.0rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
/* page 9 */
.page9 .daibiaozuo_yuecai>img:nth-of-type(1){
    height: .91rem;
    width: 1.0rem;
    margin-right: -0.1rem;
    top: 2.5rem;
    right: .7rem;
}
.page9 .daibiaozuo_yuecai>img:nth-of-type(2){
    width: 1.0rem;
    height: .91rem;
    margin-right: -0.1rem;
    top: 3.9rem;
    right: .7rem;
}
.page9 .daibiaozuo_yuecai>img:nth-of-type(3){
    width: 1.0rem;
    height: .81rem;
    margin-right: -0.1rem;
    top: 5.3rem;
    right: .7rem;
}
.page9 .daibiaozuo_yuecai>p:nth-of-type(1){
    top: 2.2rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page9 .daibiaozuo_yuecai>p:nth-of-type(2){
    top: 3.6rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
.page9 .daibiaozuo_yuecai>p:nth-of-type(3){
    top: 5.0rem;
    right: .8rem;
    font-size: .18rem;
    font-weight: 550;
    font-family: cursive;
}
/* page 10 */
.page10{
    background: url("http://pkpi86x2k.bkt.clouddn.com/image/background.jpg") no-repeat;
    background-size: cover;
    position: relative;
}
.page10 .poetry{
    position: absolute;
    width: 3.1rem;
    top: 1.8rem;
    left: 0.35rem;
}
.page10 .poetry>p{
    line-height: .28rem;
    font-size: .19rem;
    font-weight: 550;
    font-family: cursive;
}
.page10 img:nth-of-type(3){
    width: .8rem;
    bottom: .45rem;
    left: .35rem;
}
.page10 img:nth-of-type(4){
    top: .4rem;
    left: 0.35rem;
    width: 0.7rem;
}
.page10 img:nth-of-type(5){
    width: 1rem;
    bottom: .4rem;
    right: .3rem;
}
.page10 img:nth-of-type(6){
    width: 1.3rem;
    top: .39rem;
    right: 0.3rem;
}
.page10 img:nth-of-type(7){
    width: 1rem;
    top: 1.3rem;
    left: 1.15rem;
}


